<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Page</title>
</head>
<body>
    <h1>Welcome @ViewBag.account.user.firstName @ViewBag.account.user.lastName</h1>
    <h2>Current Balance: $@ViewBag.account.balance</h2>
    @using BankAccounts.Models
    @Html.Partial("Transaction", (TransactionViewModel)@ViewBag.transactionModel)

    <h2>Transaction History</h2>
    @{
        foreach(var transaction in ViewBag.account.transactions)
        {
            <p>$@transaction.amount - @transaction.created_at</p>
        }
    }
</body>
</html>